<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <style>
            .form-group{margin-bottom: 20px;}
            .modal-body input { margin-bottom: 10px;}
        </style>
        <h1 class="mt-4">Board Read Page</h1>
        <div class="form-group">
            <label for="bno">Bno</label>
            <input type="text" name="bno" id="bno" class="form-control" readonly
                   th:value="${boardDTO.bno}">
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control"
                   th:value="${boardDTO.title}" readonly>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <input type="text" name="content" id="content" class="form-control"
                   th:value="${boardDTO.content}" readonly>
        </div>
        <div class="form-group">
            <label for="writerName">WriterName</label>
            <input type="text" name="writerName" id="writerName" class="form-control"
                   th:value="${boardDTO.writerName}" readonly>
        </div>
        <div class="form-group">
            <label for="writerEmail">WriterEmail</label>
            <input type="text" name="writerEmail" id="writerEmail" class="form-control"
                   th:value="${boardDTO.writerEmail}" readonly>
        </div>
        <div class="form-group">
            <label for="regDate">Register Date</label>
            <input type="text" name="regDate" id="regDate" class="form-control" readonly
                   th:value="${#temporals.format(boardDTO.regDate, 'yyyy/MM/dd hh:mm')}">
        </div>
        <div class="form-group">
            <label for="modDate">Modified Date</label>
            <input type="text" name="modDate" id="modDate" class="form-control"readonly
                   th:value="${#temporals.format(boardDTO.modDate, 'yyyy/MM/dd hh:mm')}">
        </div>
        <div class="form-group">
            <a class="btn btn-primary" th:href="@{/board/modify(page=${pageRequestDTO.page},bno=${boardDTO.bno},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}" >Modify</a>
            <a class="btn btn-info" th:href="@{/board/list(page=${pageRequestDTO.page},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}" >List</a>
        </div>
        <div class="mt-4">
            <span class="btn btn-outline-secondary" onclick="addReply()">Add Reply</span>
            <span style="font-size:9pt">댓글:
            <span id="repCnt" th:text="${boardDTO.replyCount}"></span> 개
            </span>
        </div>
        <div class="list-group replyList" style="margin: 20px 0;"></div>
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            const bno = [[${boardDTO.bno}]]

            window.onload = () => {
                // 수정후 변경사항을 위한 모달
                const myModal = new bootstrap.Modal(document.querySelector('#myModal'),{backdrop: true});
                var msg = [[${msg}]]
                if(msg) {
                    document.querySelector(".modal-body").innerHTML=`<p>${msg}되었습니다.</p>`
                    document.querySelector("#exampleModalLabel")
                        .innerHTML=`<p>${msg.split(" ")[2]}창</p>`
                    myModal.show()
                    history.replaceState({}, null, null)
                }
                loadReplyJSON() // 댓글을 REST하게 불러오는 함수
            }
            function loadReplyJSON(){
                const replyListGroup = document.querySelector(".replyList")
                const url = /*[[@{/replies/}]]*/'url'

                fetch(url+bno, {method: 'GET',})
                .then(response => response.json()) //json(),text(),blob(),formData(),arrayBuffer()
                .then(data => {
                    let str = "";
                    for(let i=0;i<data.length;i++){
                        str += `
                            <div class="card-body form-control mb-1"
                            onmouseover="this.style.background='#d6e6ff'"
                            onmouseout="this.style.background='white'"
                            data-rno="${data[i].rno}" data-text="${data[i].text}"
                            data-commenter="${data[i].commenter}"
                            style="padding:5px 20px;cursor:pointer;"
                            onclick="viewReply('${data[i].rno}','${data[i].text}','${data[i].commenter}')"
                            >
                                <div style="display:inline-block;width:49%">
                                    <h6 style="display:inline-block;width:70px">${data[i].rno}</h6>
                                    <h5 class="card-text" style="display:inline-block;">${data[i].text}</h5>
                                </div>
                                <div style="display:inline-block;width:48%;text-align:right;right-padding:20px;">
                                    <span class="card-subtitle text-muted">${data[i].commenter}</span>
                                    <span class="card-subtitle text-muted"
                                    style="display:inline-block;width:150px;color:rgb(148, 163, 184);"
                                    >${formatDateTime(data[i].regDate)}</span>
                                </div>
                            </div>
                        `
                    }
                    replyListGroup.innerHTML = str
                })
            }
            function formatDateTime(str) {
              const date = new Date(str)
              return `${date.getFullYear()}/${len2(date.getMonth()+1)}`
                 + `/${len2(date.getDate())} ${len2(date.getHours())}:`
                 + `${len2(date.getMinutes())}`
            }
            function len2(num) {
              return (num<10) ? "0"+num : num;
            }
            function addReply(){
                // 댓글 추가하기 위한 창 띄우기 함수
                const myModal = new bootstrap.Modal(document.querySelector('#myModal'),{backdrop: true});
                document.querySelector("#exampleModalLabel").textContent = "댓글 추가 창"
                document.querySelector(".modal-body").innerHTML = `
                    <input type="text" class="form-control" name="text" placeholder="댓글...">
                    <input type="text" class="form-control" name="commenter" value="user50@a.a">
                `
                document.querySelector(".modal-footer").innerHTML = `
                    <button type="button" class="btn btn-primary save" data-bs-dismiss="modal" onclick="saveReply()">등록</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                `
                myModal.show() // 댓글 입력을 위한 모달
            }
            function saveReply() {
                // 댓글 등록 버튼
                // 모달이 떠 있는 상태에서 등록 버튼누른 후 또 모달이 떠야 하기 때문에 모달을 초기화함.
                const myModal = new bootstrap.Modal(document.querySelector('#myModal'),{backdrop: true});
                let text = document.querySelector(".modal-body input[name='text']")
                let commenter = document.querySelector(".modal-body input[name='commenter']")
                if(!text.value) {
                    text.setAttribute('placeholder', '댓글을 확인하세요')
                    text.focus()
                    return;
                }
                if(!commenter.value) {
                    commenter.setAttribute('placeholder', '작성자를 확인하세요')
                    commenter.focus();
                    return;
                }
                let reply = {bno: bno, text: text.value, commenter: commenter.value}
                //alert(JSON.stringify(reply))
                const url = /*[[@{/replies}]]*/'url'
                fetch(url, {
                    method: 'POST', headers:{'Content-type': 'application/json'},
                    body: JSON.stringify(reply)
                })
                .then(res => res.text()) // json(),text(),blob(),formData(),arrayBuffer()
                .then(function(data){
                    document.querySelector("#exampleModalLabel").textContent = "댓글 등록 완료"
                    document.querySelector(".modal-body").innerHTML = `${data} 알림`
                    document.querySelector(".modal-footer .save").style.display = 'none'
                    let cnt = document.querySelector("#repCnt")
                    cnt.textContent = parseInt(cnt.textContent) + 1;
                    myModal.show() // 댓글 등록 완료 모달
                    loadReplyJSON()
                })
            }

            function viewReply(rno, text, commenter) {
                const myModal = new bootstrap.Modal(document.querySelector('#myModal'),{backdrop: true});
                document.querySelector("#exampleModalLabel").textContent = rno +"번 댓글 보기"
                document.querySelector(".modal-body").innerHTML = `
                    <input type="text" class="form-control" name="rno" value="${rno}" readonly>
                    <input type="text" class="form-control" name="text" value="${text}">
                    <input type="text" class="form-control" name="commenter" value="${commenter}" readonly>
                `
                document.querySelector(".modal-footer").innerHTML = `
                    <button type="button" class="btn btn-warning modify" data-bs-dismiss="modal" onclick="modifyReply('${rno}')">수정</button>
                    <button type="button" class="btn btn-danger remove" data-bs-dismiss="modal" onclick="removeReply('${rno}')">삭제</button>
                    <span class="btn btn-secondary" data-bs-dismiss="modal">닫기</span>
                `
                myModal.show() // 댓글 입력을 위한 모달
            }
            function modifyReply(rno) {
                // 유효성검사, 수정url로 데이터 보내기, 모달창 변경
                const myModal = new bootstrap.Modal(document.querySelector('#myModal'),{backdrop: true});
                let text = document.querySelector(".modal-body input[name='text']")
                if(!text.value || text.value=='') {
                    text.setAttribute('placeholder', '댓글을 확인하세요')
                    text.focus()
                    return false;
                }
                let reply = {rno: rno, text: text.value}
                //alert(JSON.stringify(reply))
                const url = /*[[@{/replies}]]*/'url'
                fetch(url, {
                    method: 'PUT', headers:{'Content-type': 'application/json'},
                    body: JSON.stringify(reply)
                })
                .then(res => res.text()) // json(),text(),blob(),formData(),arrayBuffer()
                .then(function(data){
                    document.querySelector("#exampleModalLabel").textContent = "댓글 수정 완료"
                    document.querySelector(".modal-body").innerHTML = `${data} 알림`
                    document.querySelector(".modal-footer .modify").style.display = 'none'
                    document.querySelector(".modal-footer .remove").style.display = 'none'
                    myModal.show()
                    loadReplyJSON()
                })
            }
            function removeReply(rno) {
                // 유효성검사, 수정url로 데이터 보내기, 모달창 변경
                const myModal = new bootstrap.Modal(document.querySelector('#myModal'),{backdrop: true});
                let reply = {rno: rno}
                const url = /*[[@{/replies}]]*/'url'
                fetch(url, {
                    method: 'DELETE', headers:{'Content-type': 'application/json'},
                    body: JSON.stringify(reply)
                })
                .then(res => res.text()) // json(),text(),blob(),formData(),arrayBuffer()
                .then(function(data){
                    document.querySelector("#exampleModalLabel").textContent = "댓글 삭제 완료"
                    document.querySelector(".modal-body").innerHTML = `${data} 알림`
                    document.querySelector(".modal-footer .modify").style.display = 'none'
                    document.querySelector(".modal-footer .remove").style.display = 'none'
                    let cnt = document.querySelector("#repCnt")
                    cnt.textContent = parseInt(cnt.textContent) - 1;
                    myModal.show()
                    loadReplyJSON()
                })
            }

        </script>
    </th:block>
</th:block>

</html>