<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Guestbook List Page
            <a class="btn btn-outline-primary" th:href="@{/guestbook/register}">Register</a>
        </h1>
        <form th:action="@{/guestbook/list}" method="get" id="frmSrch">
            <div class="input-group">
                <div class="input-group-prepend" style="margin-right: 10px;">
                    <select id="type" name="type" class="form-control">
                        <option value=""  th:selected="${pageRequestDTO.type == null}">전체보기</option>
                        <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
                        <option value="c" th:selected="${pageRequestDTO.type == 'c'}">내용</option>
                        <option value="w" th:selected="${pageRequestDTO.type == 'w'}">작성자</option>
                        <option value="tc"  th:selected="${pageRequestDTO.type == 'tc'}">제목+내용</option>
                        <option value="tcw" th:selected="${pageRequestDTO.type == 'tcw'}">제목+내용+작성자</option>
                    </select>
                </div>
                <input type="text" class="form-control" name="keyword" id="keyword"
                       style="border-radius: 5px;" th:value="${pageRequestDTO.keyword}">
                <div class="input-group-append" style="margin-left:10px;">
                    <button class="btn btn-outline-primary btnSrch">검색</button>
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Gno</th>
                <th>Title</th>
                <th>Writer</th>
                <th>Register Date</th>
                <th>Modified Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="guestbookDto : ${pageResultDTO.dtoList}" style="cursor:pointer"
                onmouseover="this.style.background='#dbdbdb'"
                onmouseout="this.style.background='white'"
                th:onclick="goRead([[${guestbookDto.gno}]],[[${pageResultDTO.page}]],
          [[${pageRequestDTO.type}]],[[${pageRequestDTO.keyword}]])">
                <td>[[${guestbookDto.gno}]]</td>
                <td>[[${guestbookDto.title}]]</td>
                <td>[[${guestbookDto.writer}]]</td>
                <td>[[${#temporals.format(guestbookDto.regDate, 'yyyy/MM/dd hh:mm')}]]</td>
                <td>[[${#temporals.format(guestbookDto.modDate, 'yyyy/MM/dd hh:mm')}]]</td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item" th:if="${pageResultDTO.prev}">
                <a class="page-link" tabindex="-1"
                   th:href="@{/guestbook/list(page=${pageResultDTO.start-1},type=${pageRequestDTO.type}
           ,keyword=${pageRequestDTO.keyword})}"
                >Prev</a></li>
            <li th:class=" 'page-item ' + ${pageResultDTO.page==page?'active':''} "
                th:each="page: ${pageResultDTO.pageList}">
                <a class="page-link" tabindex="-1"
                   th:href="@{/guestbook/list(page=${page},type=${pageRequestDTO.type}
           ,keyword=${pageRequestDTO.keyword})}"
                >[[${page}]]</a></li>
            <li class="page-item" th:if="${pageResultDTO.next}">
                <a class="page-link"
                   th:href="@{/guestbook/list(page=${pageResultDTO.end+1},type=${pageRequestDTO.type}
           ,keyword=${pageRequestDTO.keyword})}"
                >Next</a></li>
        </ul>
        <!-- start bootstrap.com modal -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!-- <button type="button"  class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            window.onload = () => {
             let registerMsg = [[${registerMsg}]];
             let removeMsg = [[${removeMsg}]];z

             // 등록(registerMsg)가 도착했는지 확인합니다.
             if(registerMsg) {
               const myModal = new bootstrap.Modal(document.querySelector('#myModal'),{backdrop:true});
               document.querySelector(".modal-title").innerHTML=`<p>알림</p>`
               document.querySelector(".modal-body").textContent=`${registerMsg} 번 글이 등록되었습니다.`
               myModal.show()
               history.replaceState({}, null, null)
             }

             // 삭제(removeMsg)가 도착했는지 확인합니다.
             if(removeMsg) {
               const myModal = new bootstrap.Modal(document.querySelector('#myModal'),{backdrop:true});
               document.querySelector(".modal-title").innerHTML=`<p>알림</p>`
               document.querySelector(".modal-body").textContent=`${removeMsg} 번 글이 삭제되었습니다.`
               myModal.show()
               history.replaceState({}, null, null)
             }

             const frmSrch = document.querySelector('#frmSrch')
             const btnSrch = document.querySelector('.btnSrch')
             const type = document.querySelector('#type')
             const keyword = document.querySelector('#keyword')
             if(type.value == "") {
               keyword.disabled=true;
               btnSrch.disabled=true;
             } else {
               keyword.disabled=false;
               btnSrch.disabled=false;
             }
             keyword.disabled=(type.value == "")?true:false;
             btnSrch.disabled=(type.value == "")?true:false;
             type.onchange = () => {
               keyword.setAttribute('placeholder', "")
               if(type.options[0].selected){
                 keyword.value='';
                 frmSrch.submit()
                 keyword.disabled=true;
                 btnSrch.disabled=true
               } else {
                 keyword.disabled=false;
                 btnSrch.disabled=false;
               }
             }
             btnSrch.onclick = (e) => {
               e.preventDefault();
               if(!type.options[0].selected){
                 if(keyword.value == "") {
                   keyword.setAttribute('placeholder', "검색어를 입력하세요")
                   keyword.focus();
                   return;
                 }
               }
               frmSrch.submit();
             }
           }
           function goRead(gno, page, type, keyword){
             let url = /*[[@{/guestbook/read}]]*/'url'
             location.href=url + `?gno=${gno}&page=${page}&type=${type}&keyword=${keyword}`
           }
        </script>

    </th:block>
</th:block>
</html>