<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <style>
            .form-group {margin: 30px 0 30px 0;}
        </style>
        <h1 class="mt-4">Guestbook Read Page</h1>
        <form th:action="@{/guestbook/register}" method="post">
            <div class="form-group">
                <label for="title">Gno</label>
                <input type="text" name="gno" id="gno" class="form-control"
                       th:value="${guestbookDTO.gno}" readonly>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" class="form-control"
                       th:value="${guestbookDTO.title}" readonly>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <input type="text" name="content" id="content" class="form-control"
                       th:value="${guestbookDTO.content}" readonly>
            </div>
            <div class="form-group">
                <label for="title">Writer</label>
                <input type="text" name="writer" id="writer" class="form-control"
                       th:value="${guestbookDTO.writer}" readonly>
            </div>
            <div class="form-group">
                <label for="title">Register Date</label>
                <input type="text" class="form-control" th:value="${guestbookDTO.regDate}" readonly>
            </div>
            <div class="form-group">
                <label for="title">Modified Date</label>
                <input type="text" class="form-control" th:value="${guestbookDTO.modDate}" readonly>
            </div>
            <div class="form-group">
                <a th:href="@{/guestbook/modify(gno=${guestbookDTO.gno},page=${pageRequestDTO.page},type=${pageRequestDTO.type}
                    ,keyword=${pageRequestDTO.keyword})}" class="btn btn-primary">Modify</a>
                <a th:href="@{/guestbook/list(page=${page},type=${pageRequestDTO.type}
                    ,keyword=${pageRequestDTO.keyword})}" class="btn btn-info">List</a>
            </div>
        </form>
    </th:block>
</th:block>
</html>