<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>Test Upload Files</h1>
    <input type="file" name="uploadFiles" multiple />
    <button class="uploadBtn">Upload</button>
    <div class="uploadResult"></div>
</body>
<script th:inline="javascript">
    let formData = new FormData();
    const inputFiles = document.querySelector("input[type='file']")
    document.querySelector(".uploadBtn").onclick = () => {
        const files = inputFiles.files; // 선택된 파일의 정보를 가진 변수
        for (let i = 0; i < files.length; i++) {
            console.log(files[i]);
            formData.append("uploadFiles", files[i])
        }
        const url = /*[[@{/uploadAjax}]]*/'url'
        fetch(url, { method: 'POST', body: formData, dataType: 'json', })
            .then(res => res.json())
            .then(json => {
                console.log(json)
                showUploadedImages(json)
            })
            .catch(err => console.log("Error : ", err))
    }

    function showUploadedImages(arr) {
        const divArea = document.querySelector(".uploadResult")
        let str = ""
        const url = /*[[@{/display}]]*/'url'
        for (let i = 0; i < arr.length; i++) {
            str+=`<div><img src='${url}?fileName=${arr[i].thumbnailURL}'>`
            str+=`<button class='removeBtn' data-name='${arr[i].imageURL}'>X</button></div>`
        }
        divArea.innerHTML = str // div가 DOM트리에 마운트 됨.
        const removeBtns = document.querySelectorAll(".removeBtn")
        for (let i = 0; i < removeBtns.length; i++) {
            removeBtns[i].onclick = function() {
                const fileName = this.dataset.name
                const formData = new FormData();
                formData.append('fileName', fileName)
                const url = /*[[@{/removeFile}]]*/
                fetch(url, {method:'POST', body:formData,})
                .then(res => res.json())
                .then(json => {
                    if(json) this.closest('div').remove();
                })
                .catch(err => console.log("Error:", err))
            }
        }
    }
</script>

</html>